/* ========================================
   ESTILOS DOS ELEMENTOS
   ======================================== */

h1 {
    color: #6c584cff;
    font-size: 40px;
    text-align: center;
}

h2 {
    color: #6c584cff;
    text-align: center;
}

p {
    color: #6c584cff;
    text-align: center;
}

a {
    color: #6c584cff;
    text-decoration: none;
    text-align: center;
}


/* ========================================
   CLASSE
   ======================================== */

.cargo {
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.link-social {
    color: #040505;
    text-decoration: none;
    text-align: center;
}


/* ========================================
   SEÇÕES
   ======================================== */

#hero {
    color:#6c584cff;
    text-align: center;
    background-color: #ebf2fa7e;
    width: 100%;

}

#sobre {
    background-color: #ebf2fa7e;
    width: 70%;
    text-align: center;
}

#habilidades {
    background-color: #ebf2fa7e;
    color:#6c584cff;
    width: 70%;
    text-align: center;
}

#projetos {
    background-color: #ebf2fa7e;
    color:#6c584cff;
    width: 70%;
    text-align: center;
}

#contato {
    background-color: #ebf2fa5f;
    width: 70%;
    text-align: center;
    border-color: #6c584cff;
}


/* ========================================
   RODAPÉ
   ======================================== */

footer {
    background-color: #EBF2FA;
    width: 70%;
    text-align: center;
}

footer p {
    color: rgb(12, 11, 5);
}

img {
    border: 9px solid #6a7746dc;;
    border-radius: 50%;
}
body {
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    background: #ADC178;
    --vanilla-cream:#ADC178;;
 background: radial-gradient(circle, rgba(173, 193, 120, 1) 25%, rgba(235, 242, 250, 1) 70%);
 font-family: 'Atma', cursive;
}

.projetos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.header-cima {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
     align-items: center;
}

nav {
    display: flex;
    gap: 15px;
}

a:hover {
    color: #6c584cff;
    transition: background-color red 0.3s;
}

/*--muted-olive: #adc178ff;*/
/*--tea-green: #dde5b6ff;*/
/*--faded-copper: #a98467ff;*/
/*--ash-brown: #6c584cff;*/