/* ========================================
   ESTILOS DOS ELEMENTOS
   ======================================== */

h1 {
    color: #6c584cff;
    font-size: 40px;
    text-align: center;
}

h2 {
    color: #6c584cff;
    text-align: center;
}

p {
    color: #6c584cff;
    text-align: center;
}

a {
    color: #6c584cff;
    text-decoration: none;
    text-align: center;
}


/* ========================================
   CLASSE
   ======================================== */

.cargo {
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.link-social {
    color: #040505;
    text-decoration: none;
    text-align: center;
}


/* ========================================
   SEÇÕES
   ======================================== */

#hero {
    color:#6c584cff;
    text-align: center;
    background-color: #EBF2FA;

}

#sobre {
    background-color: #EBF2FA;
}

#habilidades {
    background-color: #EBF2FA;
    color:#6c584cff;
}

#projetos {
    background-color: #EBF2FA;
    color:#6c584cff;
}

#contato {
    background-color: #EBF2FA;
}


/* ========================================
   RODAPÉ
   ======================================== */

footer {
    background-color: #d7e3e8;
    width: 100%;
    text-align: center;
}

footer p {
    color: rgb(12, 11, 5);
}

img {
    border: 9px solid #798559;;
    border-radius: 50%;
}
body {
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    background: #ADC178;
    --vanilla-cream:#ADC178;;
 /*--muted-olive: #adc178ff;
 /*--tea-green: #dde5b6ff;*/
 /*--faded-copper: #a98467ff;*/
 /*--ash-brown: #6c584cff;*/
 background: radial-gradient(circle, rgba(173, 193, 120, 1) 25%, rgba(235, 242, 250, 1) 70%);
 font-family: 'Atma', cursive;
}
 