/* ========================================
   ESTILOS DOS ELEMENTOS
   ======================================== */

h1 {
    color: #1257cf;
    font-size: 40px;
    text-align: center;
}

h2 {
    color: #1257cf;
}

p {
    color: #46749c;
}

a {
    color: #c2dd26;
    text-decoration: none;
}


/* ========================================
   CLASSE
   ======================================== */

.cargo {
    color: #175978;
    font-weight: bold;
}

.link-social {
    color: #9ccec6;
    text-decoration: none;
}


/* ========================================
   SEÇÕES
   ======================================== */

#hero {
    background-color: #9ccec6;
}

#sobre {
    background-color: #9ccec6;
}

#habilidades {
    background-color: #9ccec6;
}

#projetos {
    background-color: #9ccec6;
}

#contato {
    background-color: #9ccec6;
}


/* ========================================
   RODAPÉ
   ======================================== */

footer {
    background-color: #667f89;
}

footer p {
    color: rgb(80, 178, 193);
}

img {
    border: 9px solid burlywood;
    border-radius: 50%;
}